In [32]:
import numpy as np
import pandas as pd
import random

In [33]:
data1=pd.read_csv('Dataset_FYP.csv')

In [34]:
data1.head()

,Learner ID,L.S 1,L.S 2,L.S 3,L.S 4,P1,P2,P3,P4,Beginer,Expert,Perfomance
0,Learner1,-5,-10,0,2,1,0,1,1,1,0,93
1,Learner2,-9,-9,10,-10,1,0,0,0,0,1,7
2,Learner3,-5,1,-9,-10,0,0,1,1,1,0,20
3,Learner4,5,7,11,-1,1,1,0,1,1,0,6
4,Learner5,-1,-1,1,-6,0,0,1,1,0,1,44

In [35]:
learners=data1['Learner ID'].values

In [36]:
data2=pd.DataFrame()
data2['Learner ID']=learners

In [37]:
data2.shape[0]

449

In [38]:
units=['Bubble sort','Quick sort','Selection Sort','Merge sort','Insertion Sort']

In [39]:
Learning_objectives=['videos', 'outlines', 'images', 'quiz', 'annimation', 'pdf', 'example', 'text', 'charts','summeries']

In [40]:
#random.sample(Learning_objectives,3)

['example', 'charts', 'images']

In [41]:
BubbleSort=[random.sample(Learning_objectives,3) for i in range(data2.shape[0])]
Quick_sort=[random.sample(Learning_objectives,3) for i in range(data2.shape[0])]
Selection_Sort=[random.sample(Learning_objectives,3) for i in range(data2.shape[0])]
Merge_sort=[random.sample(Learning_objectives,3) for i in range(data2.shape[0])]
Insertion_sort=[random.sample(Learning_objectives,3) for i in range(data2.shape[0])]

In [42]:
data2['Bubble sort']=BubbleSort
data2['Quick sort']=Quick_sort
data2['Selection Sort']=Selection_Sort
data2['Merge sort']=Merge_sort
data2['Insertion sort']=Insertion_sort

In [51]:
data2.head(5)

,Learner ID,Bubble sort,Quick sort,Selection Sort,Merge sort,Insertion sort
0,Learner1,"[text, example, summeries]","[images, charts, pdf]","[example, quiz, text]","[quiz, charts, images]","[example, outlines, annimation]"
1,Learner2,"[videos, example, summeries]","[example, quiz, outlines]","[text, summeries, videos]","[summeries, quiz, annimation]","[charts, quiz, text]"
2,Learner3,"[images, text, charts]","[images, quiz, annimation]","[example, outlines, summeries]","[text, example, summeries]","[example, outlines, charts]"
3,Learner4,"[text, videos, images]","[images, charts, pdf]","[charts, summeries, videos]","[images, summeries, quiz]","[quiz, example, charts]"
4,Learner5,"[outlines, example, videos]","[annimation, outlines, images]","[outlines, charts, annimation]","[text, summeries, images]","[summeries, pdf, charts]"

In [46]:
data2['Learner ID'].nunique()

449

In [45]:
data2.to_csv('aprioridata.csv',index=False)