In [149]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from ast import literal_eval
from apyori import apriori

In [2]:
df_learner=pd.read_csv('Dataset_FYP.csv')

## Encoding categorical to Numerical

In [3]:
def GettingNumerical(x):
    try:
        c1=int(list(x)[-3])
        a=list(x)[-1]
        b=list(x)[-2]
        c=list(x)[-3]
        d=c+b+a
        d=int(d)
        return d
    except:
        try:
            b1=int(list(x)[-2])
            a=list(x)[-1]
            b=list(x)[-2]
            c=b+a
            c=int(c)
            return c
        except:
            a=int(list(x)[-1])
            return a

In [4]:
df_learner['Learner ID_encoded']=df_learner['Learner ID'].apply(lambda x:GettingNumerical(x))

In [5]:
df_learner.sample(5)

,Learner ID,L.S 1,L.S 2,L.S 3,L.S 4,P1,P2,P3,P4,Beginer,Expert,Perfomance,Learner ID_encoded
329,Learner330,-3,-1,-8,-9,0,1,0,0,0,1,64,330
150,Learner151,-4,-7,2,-4,1,1,1,1,1,0,11,151
181,Learner182,-11,1,-11,-3,0,0,0,0,1,0,27,182
90,Learner91,5,-7,3,-10,1,1,1,0,0,1,18,91
346,Learner347,6,4,-3,-1,1,1,1,1,1,0,52,347

## Dependent(y) and independent(X) variable

In [6]:
y=df_learner['Learner ID_encoded']
X=df_learner.drop(['Learner ID','Learner ID_encoded'],axis=1)

In [7]:
MMS=MinMaxScaler()
X_scaled=MMS.fit_transform(X)

In [403]:
input1=[-6,6,-1,-1,2,1,0,1,0,1,35]

In [404]:
def LeanerPredict(database,NewLearner,MMS):
    NewLearner=MMS.transform([NewLearner])
    df=pd.DataFrame()
    i=1
    for data in database:
        dist=np.linalg.norm(data - NewLearner)
        dicti={
            'Learner':'Learner'+str(i),
            'dist':dist
        }
        df=df.append(dicti, ignore_index=True)
        i=i+1
    return df

In [405]:
distance=LeanerPredict(X_scaled,input1,MMS)
distance=distance.sort_values(by='dist')
#distance=distance.reset_index(drop=True)
top10=distance.head(10)

In [406]:
top10

        Learner      dist
101  Learner102  1.091752
19    Learner20  1.107526
14    Learner15  1.132360
283  Learner284  1.163736
411  Learner412  1.199493
363  Learner364  1.251259
32    Learner33  1.272086
243  Learner244  1.272717
369  Learner370  1.281585
438  Learner439  1.284432

## Apirori

In [407]:
data2=pd.read_csv('aprioridata.csv')

In [408]:
data2.head()

,Learner ID,Bubble sort,Quick sort,Selection Sort,Merge sort,Insertion sort
0,Learner1,"['text', 'example', 'summeries']","['images', 'charts', 'pdf']","['example', 'quiz', 'text']","['quiz', 'charts', 'images']","['example', 'outlines', 'annimation']"
1,Learner2,"['videos', 'example', 'summeries']","['example', 'quiz', 'outlines']","['text', 'summeries', 'videos']","['summeries', 'quiz', 'annimation']","['charts', 'quiz', 'text']"
2,Learner3,"['images', 'text', 'charts']","['images', 'quiz', 'annimation']","['example', 'outlines', 'summeries']","['text', 'example', 'summeries']","['example', 'outlines', 'charts']"
3,Learner4,"['text', 'videos', 'images']","['images', 'charts', 'pdf']","['charts', 'summeries', 'videos']","['images', 'summeries', 'quiz']","['quiz', 'example', 'charts']"
4,Learner5,"['outlines', 'example', 'videos']","['annimation', 'outlines', 'images']","['outlines', 'charts', 'annimation']","['text', 'summeries', 'images']","['summeries', 'pdf', 'charts']"

In [409]:
top10['Learner'].values

array(['Learner102', 'Learner20', 'Learner15', 'Learner284', 'Learner412',
       'Learner364', 'Learner33', 'Learner244', 'Learner370',
       'Learner439'], dtype=object)

In [410]:
top10.index

Int64Index([101, 19, 14, 283, 411, 363, 32, 243, 369, 438], dtype='int64')

In [411]:
final_data=data2.iloc[top10.index]
final_data

,Learner ID,Bubble sort,Quick sort,Selection Sort,Merge sort,Insertion sort
101,Learner102,"['summeries', 'text', 'images']","['charts', 'text', 'images']","['pdf', 'charts', 'outlines']","['charts', 'videos', 'outlines']","['outlines', 'text', 'example']"
19,Learner20,"['summeries', 'annimation', 'text']","['videos', 'quiz', 'outlines']","['images', 'text', 'outlines']","['videos', 'example', 'quiz']","['annimation', 'summeries', 'example']"
14,Learner15,"['annimation', 'quiz', 'text']","['example', 'text', 'images']","['images', 'charts', 'quiz']","['outlines', 'videos', 'charts']","['example', 'annimation', 'text']"
283,Learner284,"['outlines', 'images', 'quiz']","['pdf', 'charts', 'images']","['outlines', 'quiz', 'videos']","['charts', 'annimation', 'images']","['annimation', 'text', 'charts']"
411,Learner412,"['pdf', 'videos', 'images']","['annimation', 'images', 'pdf']","['quiz', 'summeries', 'charts']","['videos', 'example', 'summeries']","['pdf', 'quiz', 'videos']"
363,Learner364,"['quiz', 'text', 'images']","['outlines', 'text', 'videos']","['example', 'annimation', 'charts']","['quiz', 'pdf', 'summeries']","['annimation', 'example', 'summeries']"
32,Learner33,"['summeries', 'outlines', 'images']","['quiz', 'summeries', 'text']","['pdf', 'summeries', 'quiz']","['pdf', 'quiz', 'annimation']","['example', 'videos', 'text']"
243,Learner244,"['images', 'text', 'charts']","['annimation', 'pdf', 'charts']","['example', 'images', 'annimation']","['charts', 'outlines', 'images']","['images', 'charts', 'videos']"
369,Learner370,"['images', 'videos', 'summeries']","['summeries', 'images', 'videos']","['outlines', 'videos', 'pdf']","['quiz', 'text', 'videos']","['example', 'charts', 'summeries']"
438,Learner439,"['videos', 'example', 'summeries']","['charts', 'outlines', 'quiz']","['pdf', 'outlines', 'annimation']","['charts', 'annimation', 'quiz']","['pdf', 'images', 'quiz']"

In [412]:
def preprocessing(df,unit,neighbours):
    a=[]
    for i in range(neighbours):
        a1=literal_eval(df[unit].values[i])
        #print(a1)
        #print(i)
        a.append(a1)
    return a

In [421]:
unit='Merge sort'
a=preprocessing(final_data,unit=unit,neighbours=10)

In [422]:
a

[['charts', 'videos', 'outlines'],
 ['videos', 'example', 'quiz'],
 ['outlines', 'videos', 'charts'],
 ['charts', 'annimation', 'images'],
 ['videos', 'example', 'summeries'],
 ['quiz', 'pdf', 'summeries'],
 ['pdf', 'quiz', 'annimation'],
 ['charts', 'outlines', 'images'],
 ['quiz', 'text', 'videos'],
 ['charts', 'annimation', 'quiz']]

In [423]:
results=list(apriori(a,max_length=5,min_confidence=0.4,min_support=0.3,min_length=2,min_lift=1))

In [424]:
def apri(x):
    results=list(apriori(x,max_length=5,min_confidence=0.4,min_support=0.3,min_lift=1))
    df=pd.DataFrame()
    for result in results:
    
        dicti={
            'items':result.items,
            'Support':result.support,
            'len':len(result.items)
        }
        df=df.append(dicti, ignore_index=True)
    df=df.sort_values(by='Support',ascending=False)
    maxlen=df['len'].max()
    #print(maxlen)
    a=list(df[df['len']==maxlen]['items'].values[0])
    #print(a)
    if maxlen>1:
        b=list(df[df['Support']>0.3]['items'].values[0])
        #print(b)
        c=np.union1d(a,b)
        return c
    else:
        return a

In [425]:
b=apri(a)
b
list(b)

['charts', 'outlines']